PYKIS_HTS_ID=soju06
PYKIS_ACCOUNT_NUMBER=00000000-01
PYKIS_APPKEY=PSED321z7A9lBGP6XXXXXXXXXXXXXXXXXXXX
PYKIS_SECRETKEY="RR0sFMVBIH50FwIZGXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

PYKIS_VIRTUAL_HTS_ID=soju06
PYKIS_VIRTUAL_ACCOUNT_NUMBER=00000000-01
PYKIS_VIRTUAL_APPKEY=PSED321z7A9lBGP6XXXXXXXXXXXXXXXXXXXX
PYKIS_VIRTUAL_SECRETKEY="RR0sFMVBIH50FwIZGXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

PYKIS_KEEP_TOKEN=true